{% extends "base.html" %} 

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
      <input class="form-control form-control-lg" type="text" name="text"
        placeholder="Enter book's id number" value="{{ input_value }}">
      <button class="btn btn-outline-primary btn-lg">Search</button>
    </form>
    
    {% if results %}
    <h2 class="text-center my-3">Results:</h2>
    <ul class="list-group mx-w-900 mx-auto">

        {% for result in results %}
        <li class="list-group-item">
   
            {{ result.Title }}, {{ result.Author }}, {{ result.BookID }}, {{ result.AverageRating }}, {{ result.descp }}, {{ result.PageNum }}, {{ result.PublicationYear }}
        </li>
        {% endfor %}

    </ul>
    {% elif alert_message %}
      <h4 class="alert alert-danger my-3 w-40 text-center mx-auto">{{ alert_message }}</h4>
    {% endif %}

  </div>
{% endblock %}