{% extends "base.html" %} 

{% block header %}
  <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <input class="form-control form-control-lg" type="text" name="text"
        placeholder="Enter book's title" value="{{ input_value }}">
      <button class="btn btn-outline-primary btn-lg">Search</button>
      <button type="submit" name="delete" value="delete">Delete</button>
      <button type="submit" name="update" value="update">Update</button>
      <button type="submit" name="insert" value="insert">Insert</button>
      <button type="submit" name="review" value="review">Review</button>
  </form>
      
  {% if results %}
      <h2 class="text-center my-3">Results:</h2>
      <ul class="list-group mx-w-900 mx-auto">

          {% for result in results %}
          <li class="list-group-item">

              {{ result.Title }}, {{ result.Author }}, {{ result.BookID }}, {{ result.AverageRating }}, {{ result.descp }}, {{ result.PageNum }}, {{ result.PublicationYear }}
          </li>
          {% endfor %}

      </ul>

  {% elif alert_message %}
      <h4 class="alert alert-danger my-3 w-40 text-center mx-auto">{{ alert_message }}</h4>
  {% endif %}

  <h1>Filtered Searches</h1>

  <form method="post">
    <button type="submit" name="searchAuthors" value="searchAuthors">Search By Authors</button>
    <button type="submit" name="searchWorkCount" value="searchWorkCount">Search By Work Count</button>
  </form>

  <h1>Book Recommendation</h1>

  <form method="post">
    <button type="submit" name="recommendation" value="recommendation">Get a Book Recommendation</button>
  </form>

  </div>
{% endblock %}
